{% extends 'base.html' %} {% block content %}

<main>
  <div>
    <h1>signup</h1>
    <form method="post">
      {% csrf_token %} {{ form.as_p }}
      <button>signup</button>
    </form>
  </div>
</main>

{% endblock content %}

